body {
    background-image:url('img/background_stripe.png');
    background-color: black;
    color: black;
    font-family: sans-serif;
}

#container {
    background-color: #FFFDF0;
    width: 1024px;
    margin: 10px auto -1px auto;
    box-shadow: 2px 2px 4px 1px #000;
    -t1-display: "hh"
                 "ms"
                 "ff"
                 * 200px;
    -t2-display: "hh"
                 "sm"
                 "ff"
                 300px *;
    -t3-display: "hh"
                 "ff"
                 "ss"
                 "mm";
}

#header {
    -t1-position: h;
    -t2-position: h;
    -t3-position: h;
}
#content {
    -t1-position: m;
    -t2-position: m;
    -t3-position: m;
    padding: 10px;
}

#sidebar {
    -t1-position: s;
    -t2-position: s;
    -t3-position: s;
}
#footer {
    margin: 0px;
    width: 100%;
    background-color: #ebf1b7;
    font-size: 10px;
    -t1-position: f;
    -t2-position: f;
    -t3-position: f;
}

#logo {
    margin: 0px;
    background-color: black;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

a {
    text-decoration: none;
    color: #873d00
}

a:hover {
    color: #e26600;
}

#nav-global {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: black;
}

#login {
    color:white;
}

#login a {
    margin-right: 5px;
    color:white;
}
#login a:hover {
    color: #f46f00;
}

#nav-global a {
    font-size: 24px;
    padding: 3px;
    margin-right: 3px;
    display: inline-block;
    color: white;
    background-color: black;
}

#nav-global a:hover{
    color: #f46f00;
}


#footer  div {
    padding: 3px;
    display: inline-block;
    width: 24%;
}

