{% extends "base.html" %}
{% block content %}
    <h2>Register</h2>
    <form action="/accounts/register/" method="POST">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
{% endblock %}