{% load static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}TvShows.pl Najlepsza strona o serialach w znanej galaktyce.{% endblock %}</title>
    <link type="text/css" href="{% static "css/ui-darkness/jquery-ui-1.8.21.custom.css" %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.8.21.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.8.21.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tpl_layout1.1.6.min.js" %}"></script>
    <script type="text/javascript">
        function refreshTemplate() {
            if(!localStorage.getItem('selectedLayout')) {
                localStorage.setItem('selectedLayout', 't1');
            }
            $(function() { $.setTemplateLayout("{% static "css/style.css" %}", localStorage.getItem('selectedLayout'));})
        }
        function setTemplate(id) {
            localStorage.setItem('selectedLayout', id);
            location.reload();
        }

        refreshTemplate();
    </script>
</head>
{% load i18n %}
<body>
<!-- Container -->
<div id="container">

    {% if not is_popup %}
        <!-- Header -->
        <div id="header">
            <div id="logo">
            </div>
            <div id="login" style="float:right">
                {% trans 'Welcome,' %}
                <strong><a href="/users/{{ user.username }}/"> {% filter force_escape %}{{ user.username }}{% endfilter %}</a></strong>.
                {% block userlinks %}
                    {% if not user.is_authenticated %}<a href="/accounts/login/?next={% url "index" %}">login</a> | <a
                            href="/accounts/register/">register</a>{% endif %}

                    {% if user.is_authenticated %}<a href="/accounts/logout/?next={% url "index" %}">logout</a>
                    {% endif %}
                {% endblock %}
            </div>
            {% block nav-global %}
            <nav id="nav-global">
                <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                <a href="mailto:fakeaddress@tvshow.pl">Contact</a>
                <a href="{% url 'about' %}">About</a>
                {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'show_stats' %}">Stats</a>
                    <a href="{% url "admin:index" %}">Admin</a>
                {% endif %}
            </nav>
            {% endblock %}
        </div>
        <!-- END Header -->
    {% endif %}

    <div id="sidebar">
        {% block sidebar %}

        {% endblock %}
    </div>

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
        {% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %} <div id="footer">
     <div id="related-sites">
        <p>Linki warte odwiedzenia:</p>
        <ul>
            <li><a href="http://filmweb.pl">Filmweb</a></li>
            <li><a href="http://imdb.com">Internet Movie Database</a></li>
            <li><a href="http://mimuw.edu.pl">Strona Mimuw-u</a></li>
        </ul>
    </div>
    <div id="regulamin">
        <p>Regulamin:</p>
        <p>Uzywając tej strony zgadasz się iż wszystkie twoja baza są należą do nas.</p>
        <p>Stanowczo zabrania się bycia retardem w komentarzach.</p>
    </div>
    <div id="redaction"><p>Akcja-redakcja:</p>
    <ul><li>Ja</li></ul><ul><li>Ten Drugi koles</li></ul></div>
        <div id="template-selector">
        <h3>Template selector:</h3>
        <ul>
            <li><a href="#" onclick="javascript:setTemplate('t1')">First Template</a></li>
            <li><a href="#" onclick="javascript:setTemplate('t2')">Second Template</a></li>
            <li><a href="#" onclick="javascript:setTemplate('t3')">Third Template</a></li>
        </ul>
        </div>
     </div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
