{% extends "base.html" %}
{% block content %}
    <h1>{{ episode }}</h1>
    {% if episode.image %}
    <img src="{{ episode.image.url }}" />
    {% endif %}
    {% if episode.premiere_date %}
        <p>Premiere: {{ episode.premiere_date }}</p>
    {% endif %}
    {% if episode.actors %}
        Actors:
        <ul>
        {% for actor in episode.actors.all %}
            <li>{{ actor }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div id="description">
        {% autoescape off %}
        {{ episode.description }}
        {% endautoescape %}
    </div>
    <h2>Komentarze:</h2>
    {% load comments %}
    {% render_comment_list for episode %}
    {% if user.is_authenticated %}
        {% get_comment_form for episode as form %}
        <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ episode.get_absolute_url }}" />
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <p style=”display:none”><label for=”id_honeypot”>Leave blank (anti-bot measurement)</label>{{ form.honeypot }}</p>
            <p>
                <label for="id_comment">Comment</label>
                <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
            </p>
            <p><input type="submit" name="submit" value="Post"></p>
        </form>
    {% else %}
        <h3>Login to comment.</h3>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <a href="/">Powrot do strony głównej</a><br/>
    <a href="{{ episode.season.tv_show.get_absolute_url }}">Powrót do strony serialu</a><br/>
    <a href="{{ episode.season.get_absolute_url }}">Powrót do strony sezonu</a><br/>
{% endblock %}