{% extends "base.html" %}
{% block content %}
    <h1>Witamy na stronie o serialach</h1>
    <p>Strona ruszyła!</p>
{% endblock %}
{% block sidebar %}
    <div id="seasons">
        <h2>Lista Seriali:</h2>
        <ul>
            {% for s in tv_shows %}
                <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}