{% extends "base.html" %}
{% block content %}
    <h1>{{ season }}</h1>
    <div id="episodes">
        {% if episodes %}
        <h2>Odcinki:</h2>
        <ul>
        {% for e in episodes %}
            <li><a href="{{ e.get_absolute_url }}">Episode {{ e.episode_number }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p> Niestety nie ma jeszcze odcinków dla tego sezonu.</p>
        {% endif %}
    </div>
{% endblock %}
{% block sidebar %}
    <a href="/">Powrot do strony głównej</a><br/>
    <a href="{{ season.tv_show.get_absolute_url }}">Powrót do strony serialu</a>
    <div id="episodes-side">
        {% if episodes %}
            <h2>Odcinki:</h2>
            <ul>
                {% for e in episodes %}
                    <li><a href="{{ e.get_absolute_url }}">Episode {{ e.episode_number }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p> Niestety nie ma jeszcze odcinków dla tego sezonu.</p>
        {% endif %}
    </div>
{% endblock %}