{% extends "base.html" %}
{% block content %}
    <h1>Stats:</h1>
    <h3>Ilosc wywołań wybranych widoków: {{ view_requests }}</h3>
    <h3>Ilosc stron w pełni wyrenderowanych: {{ site_renders }}</h3>
    <h3>Średni czas spedzony na stronie: {{ avg_time_on_site }}s</h3>
    <h3>Najpopularniejsze strony:</h3>
    <ol>
        {% for site in most_popular_sites %}
            <li>{{ site.address }} : {{ site.cnt }}</li>
        {% endfor %}
    </ol>
    <h3>Najlepsze layouty:</h3>
    <ol>
        {% for layout in layouts %}
            <li>{{ layout.selected_layout }}: {{ layout.avg_time }}s {{ layout.cnt }}</li>
        {% endfor %}
    </ol>
{% endblock %}