{% extends "base.html" %}
{% block content %}
    <h1>{{ tv_show.name }}</h1>
    {% if tv_show.image %}
    <img src="{{ tv_show.image.url }}" />
    {% endif %}
    <div id="description">
        {% autoescape off %}
        {{ tv_show.description }}
        {% endautoescape %}
    </div>
    <h2>Komentarze:</h2>
    {% load comments %}
    {% render_comment_list for tv_show %}
    {% if user.is_authenticated %}
        {% get_comment_form for tv_show as form %}
        <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ tv_show.get_absolute_url }}" />
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <p style=”display:none”><label for=”id_honeypot”>Leave blank (anti-bot measurement)</label>{{ form.honeypot }}</p>
            <p>
                <label for="id_comment">Comment</label>
                <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
            </p>
        <p><input type="submit" name="submit" value="Post"></p>
        </form>
    {% else %}
        <h3>Login to comment.</h3>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <a href="/">Powrot do strony głównej</a>
    <div id="seasons">
        {% if seasons %}
            <h3>Lista sezonów:</h3>
            <ul>
                {% for s in seasons %}
                    <li><a href="{{ s.get_absolute_url }}">Seasons {{ s.number }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}