{% extends "admin/base_site.html" %}
{% load i18n l10n %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}
        <p>Prosze podac nazwe artykulu z wikipedii do skopiowania:</p>

        {% for tv_show in queryset %}
            <label for="wiki_art_id_{{ tv_show.pk }}"> {{ tv_show }} </label> <input type="text" name="wiki_art_{{ tv_show.pk }}" id="wiki_art_id_{{ tv_show.pk }}"/> <br/>
        {% endfor %}
        <div>
            <input type="hidden" name="action" value="{{ action_name }}" />
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="{% trans "Proceed" %}" />
        </div>

    </form>
{% endblock %}