{% extends "base.html" %}
{% block content %}
    <h2>User {{ user.username }}</h2>
    <form action="change_password" method="post"> {% csrf_token %}
        <table>
            <tr>
                <td>
                    E-mail
                </td>
                <td>
                    {{ user.email }}
                </td>
            </tr>
            <tr>
                <td>
                    New password:
                </td>
                <td>
                    <input type="password" name="password1" />
                </td>
            </tr>
            <tr>
                <td>
                    Repeat password:
                </td>
                <td>
                    <input type="password" name="password2" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Change password" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}